@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    position: fixed;
    width: 100px;
    min-height: 100px;
    max-width: 200px;
    background: #fff;
    position: absolute;
    box-shadow: 0 0 5px rgb(0,0,0,0.3);
    z-index: 1;
    
}
.container .imgbox{
 position: relative;
 width: 100px;
 height: 120px;
 margin-bottom: 20px;
 

}

.container .imgbox img{
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 5px;
    border-radius: 12px;
   
}